body {margin:0px; padding:0px;}
body, div, td{font-size:13px; font-family:Arial, Helvetica, sans-serif;}
img{border:0px; cursor:default;}
	
/* Font Sizes */
.FS13{font-size:13px;}
.FS14{font-size:14px;}
	
/* Margin Styles */
.TMar3{margin-top:3px;}
.RMar5{margin-right:5px;}

/*Alignment and Positions*/	
.CB{clear:both;}
.Fl{float:left;}
.Fr{float:right}
.B{font-weight:bold;}
.PR{position:relative;}
.PA{position:absolute;}
.TxtR{text-align:right}
.TxtC{text-align:center}
.None{display:none}
.CH{cursor:pointer;}
.OH{overflow:hidden;}
.UnLine{text-decoration:underline;}

/*Padding*/
.H_PLR10{padding:0px 10px;}
.H_PLR510{padding:0px 5px 0px 10px;}

/*menuContainer*/
.H_MenuContainer{position:relative; width:395px;_width:735px; height:65px; z-index:30;}
.SettingsIco{background:url( ../Image/DDC_MenuIcons.png) no-repeat; height:20px; width:25px; margin:0 auto; cursor:pointer;}

/* Theme = 'Orange' */
.HeaderContainer.Orange {background-image:url(../Image/Orange/DDC_HDBG.png);}
.HeaderContainer.Orange .H_UserInfo{color:#FCBC4B; }
.HeaderContainer.Orange .H_Lnk{color:#FCBC4B;text-decoration:none;}
.HeaderContainer.Orange a.H_Lnk{ color:#ffffff;text-decoration:none;}
.HeaderContainer.Orange a.H_Lnk:hover{text-decoration:underline;}
.HeaderContainer.Orange .H_Ic_Home{ background-position:0px -56px;}
.HeaderContainer.Orange .H_Ic_Act{ background-position:-49px -56px;}
.HeaderContainer.Orange .H_Ic_Mon{ background-position:-98px -56px;}
.HeaderContainer.Orange .H_Ic_Ast{ background-position:-245px -56px;}
.HeaderContainer.Orange .H_Ic_Rpt{ background-position:-294px -56px;}
.HeaderContainer.Orange .H_Ic_Sys{ background-position:-147px -56px;}
.HeaderContainer.Orange .H_Ic_Ord{ background-position:-196px -56px;}
.HeaderContainer.Orange .SettingsIco{background-position:-350px -71px;}
/* Orange Full Menu*/
.HeaderContainer.Orange .Full{background:url( ../Image/Orange/DDC_MenuBG.png) no-repeat; width:990px; height:110px; margin:0 auto; position:relative; z-index:30;}
.HeaderContainer.Orange .Full .H_Menu_Hover{background:url( ../Image/Orange/DDC_IcnHi.png) no-repeat; height:105px; width:182px; position:absolute; left:-30px; top:0px; z-index:10; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Image/Orange/DDC_IcnHi.png', sizingMethod='scale');}
/* Orange Icon Menu */
.HeaderContainer.Orange .Icon{background:url( ../Image/Orange/DDC_MenuBG.png) no-repeat 0px -45px; width:990px; height:65px;; margin:0 auto; position:relative; z-index:30;}
.HeaderContainer.Orange .Icon.H_Menu_Hover{background:url( ../Image/Orange/DDC_IcnHi.png) no-repeat 0px -45px; height:65px; width:182px; position:absolute; left:0px; top:0px; z-index:10; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Image/Orange/DDC_IcnHi.png', sizingMethod='scale');}
/* Orange Text Menu*/
.HeaderContainer.Orange .Text{background:url( ../Image/Orange/DDC_MenuBG.png) no-repeat 0px -45px; width:990px; height:65px;; margin:0 auto; position:relative; z-index:30;}
.HeaderContainer.Orange .Text .H_Menu_Hover{background:url( ../Image/Orange/DDC_IcnHi.png) no-repeat 0px -45px; height:65px; width:182px; position:absolute; left:0px; top:0px; z-index:10; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Image/Orange/DDC_IcnHi.png', sizingMethod='scale');}
/* Orange Mini Menu*/
.HeaderContainer.Orange .Micro{background:url( ../Image/Orange/DDC_MenuBG.png) no-repeat; width:990px; height:30px; position:relative; z-index:30; }
.HeaderContainer.Orange .Micro .H_MenuContainer{position:relative; width:900px; height:29px; margin-top:-73px;  }
.HeaderContainer.Orange .Micro .H_Menu_Hover{background:url( ../Image/Orange/DDC_IcnHi.png) no-repeat 0px -1px; margin-top:8px; height:22px; width:182px; position:absolute; left:0px; top:0px; z-index:10; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Image/Orange/DDC_IcnHi.png', sizingMethod='scale');}

/*common headerContainer*/	
.HeaderContainer{}	
.HeaderContainer ul.H_MenuLnk{margin:0px 0px 0px 17px; padding:0px; list-style:none; overflow:hidden; width:620px; position:absolute; left:0px; top:0px; z-index:20;}
.HeaderContainer a.WhiteLnk1	{color: #ffffff; text-decoration: none;}
.HeaderContainer a.WhiteLnk1:hover{color: #ffffff; text-decoration: underline;}	
.HeaderContainer.BG_Full{background-position:center 0px;width:100%; height:110px; position:relative;}

/* Full Menu */
#HeaderMenu.Full .H_MenuLnk li{float:left; padding:24px 4px 0px 4px;}
#HeaderMenu.Full .H_MenuTabs{width:80px; color:#FF833C; text-decoration:none; position:relative; height:68px; cursor:pointer; border:0px solid red; }
#HeaderMenu.Full .H_MenuLnk_Act, #HeaderMenu.Full.H_MenuLnk_Act .H_MenuTabCont{color:#FCFFE1;}
#HeaderMenu.Full .H_MenuTabCont{position:absolute; bottom:5px; width:80px; -moz-user-select:none; -webkit-user-select:none; text-align:center; left:0px; color:#FCFFE1; font-size:12px;}
#HeaderMenu.Full .H_Ic_Home, #HeaderMenu.Full .H_Ic_Act, #HeaderMenu.Full .H_Ic_Mon, #HeaderMenu.Full .H_Ic_Ast, #HeaderMenu.Full .H_Ic_Rpt, #HeaderMenu.Full .H_Ic_Sys, #HeaderMenu.Full .H_Ic_Ord{display:block;}
#HeaderMenu.Full .H_MenuTabCont{display:block;bottom:5px;}
#HeaderMenu.Full img{background:url( ../Image/DDC_Logo.png) no-repeat;width:97px;height:60px;margin-top:7px}

/*Sprite image for icons*/
.SpriteImg{background:url( ../Image/DDC_MenuIcons.png) no-repeat; height:54px; width:49px; margin:0 auto; }
img.VzImg{background:url( ../Image/DDC_Logo.png) no-repeat !important;width:97px;height:60px;margin-top:7px;display:block;}