.ccHeader {
  background-position: center 0px;
  width: 100%;
  height: 110px;
  position: relative;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  /*--------------------------------------------------------------------*/

  /*Theme = 'Orange'*/
  /*--------------------------------------------------------------------*/

  /*--------------------------------------------------------------------*/

  /*Theme = 'Blue'*/

  /*--------------------------------------------------------------------*/
  /*--------------------------------------------------------------------*/

  /*Theme = 'Red'*/
  /*--------------------------------------------------------------------*/

}
.ccHeader img {
  border: 0px;
  cursor: default;
}
.ccHeader.Orange {
  background-image: url(../images/Orange/DDC_HDBG.png);
}
.ccHeader.Orange .ui-header-menu {
  background: url(../images/Orange/DDC_MenuBG.png) no-repeat;
  width: 990px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  z-index: 30;
}
.ccHeader.Orange .ui-header-menu .ui-menu-container {
  position: relative;
  width: 395px;
  _width: 735px;
  height: 65px;
  z-index: 30;
  float: left;
}
.ccHeader.Orange .ui-header-menu ul.ui-menu-link {
  margin: 0px 0px 0px 17px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  width: 620px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20;
}
.ccHeader.Orange .ui-header-menu ul.ui-menu-link li {
  float: left;
  padding: 24px 4px 0px 4px;
}
.ccHeader.Orange .ui-header-menu .ui-menutabs {
  width: 80px;
  color: #FF833C;
  text-decoration: none;
  position: relative;
  height: 68px;
  cursor: pointer;
  border: 0px solid red;
}
.ccHeader.Orange .ui-header-menu .ui-menu-tab-content {
  color: #FCFFE1;
  position: absolute;
  width: 80px;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  left: 0px;
  color: #FCFFE1;
  font-size: 12px;
  display: block;
  bottom: 5px;
}
.ccHeader.Orange .ui-header-menu .ui-spriteImg {
  background: url(../images/DDC_MenuIcons.png) no-repeat;
  height: 54px;
  width: 49px;
  margin: 0 auto;
}
.ccHeader.Orange .ui-header-menu .ui-user-info {
  color: #FCBC4B;
  font-size: 13px;
}
.ccHeader.Orange .ui-header-menu .ui-h-link {
  color: #FCBC4B;
  text-decoration: none;
  font-size: 13px;
}
.ccHeader.Orange .ui-header-menu a.ui-h-link {
  color: #ffffff;
  text-decoration: none;
}
.ccHeader.Orange .ui-header-menu a.ui-h-link:hover {
  text-decoration: underline;
}
.ccHeader.Orange .ui-header-menu .ui-h-break {
  color: #FCBC4B;
  text-decoration: none;
  font-size: 14px;
  padding: 0 10px;
}
.ccHeader.Orange .ui-header-menu .ui-settings-icon {
  background: url(../images/DDC_MenuIcons.png) no-repeat;
  height: 20px;
  width: 25px;
  margin: 0 auto;
  cursor: pointer;
  float: right;
  background-position: -350px -71px;
}
.ccHeader.Orange .ui-menu-hover {
  background: url(../images/Orange/DDC_IcnHi.png) no-repeat;
  height: 105px;
  width: 182px;
  position: absolute;
  left: -30px;
  top: 0px;
  z-index: 10;
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Orange/DDC_IcnHi.png', sizingMethod='scale');*/
}
.ccHeader.Orange .ui-wrapper-settings {
  float: right;
}
.ccHeader.Orange .ui-wrapper-logo {
  clear: both;
  float: right;
}
.ccHeader.Orange .ui-wrapper-logo img.ui-logo-img {
  background: url(../images/DDC_Logo.png) no-repeat !important;
  width: 97px;
  height: 60px;
  margin-top: 7px !important;
  display: block;
}
.ccHeader.Blue {
  background-image: url(../images/Blue/DDC_HDBG.png);
}
.ccHeader.Blue .ui-header-menu {
  background: url(../images/Blue/DDC_MenuBG.png) no-repeat;
  width: 990px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  z-index: 30;
}
.ccHeader.Blue .ui-header-menu .ui-menu-container {
  position: relative;
  width: 395px;
  _width: 735px;
  height: 65px;
  z-index: 30;
  float: left;
}
.ccHeader.Blue .ui-header-menu ul.ui-menu-link {
  margin: 0px 0px 0px 17px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  width: 620px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20;
}
.ccHeader.Blue .ui-header-menu ul.ui-menu-link li {
  float: left;
  padding: 24px 4px 0px 4px;
}
.ccHeader.Blue .ui-header-menu .ui-menutabs {
  width: 80px;
  color: #FF833C;
  text-decoration: none;
  position: relative;
  height: 68px;
  cursor: pointer;
  border: 0px solid red;
}
.ccHeader.Blue .ui-header-menu .ui-menu-tab-content {
  color: #FCFFE1;
  position: absolute;
  width: 80px;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  left: 0px;
  color: #FCFFE1;
  font-size: 12px;
  display: block;
  bottom: 5px;
}
.ccHeader.Blue .ui-header-menu .ui-spriteImg {
  background: url(../images/DDC_MenuIcons.png) no-repeat;
  height: 54px;
  width: 49px;
  margin: 0 auto;
}
.ccHeader.Blue .ui-header-menu .ui-user-info {
  color: #FFE04F;
  font-size: 13px;
}
.ccHeader.Blue .ui-header-menu .ui-h-link {
  color: #155977;
  text-decoration: none;
  font-size: 13px;
}
.ccHeader.Blue .ui-header-menu a.ui-h-link {
  color: #155977;
  text-decoration: none;
}
.ccHeader.Blue .ui-header-menu a.ui-h-link:hover {
  text-decoration: underline;
}
.ccHeader.Blue .ui-header-menu .ui-h-break {
  color: #155977;
  text-decoration: none;
  font-size: 14px;
  padding: 0 10px;
}
.ccHeader.Blue .ui-header-menu .ui-settings-icon {
  background: url(../images/DDC_MenuIcons.png) no-repeat;
  height: 20px;
  width: 25px;
  margin: 0 auto;
  cursor: pointer;
  float: right;
  background-position: -350px -164px;
}
.ccHeader.Blue .ui-menu-hover {
  background: url(../images/Blue/DDC_IcnHi.png) no-repeat;
  height: 105px;
  width: 182px;
  position: absolute;
  left: -30px;
  top: 0px;
  z-index: 10;
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Blue/DDC_IcnHi.png', sizingMethod='scale');*/
}
.ccHeader.Blue .ui-wrapper-settings {
  float: right;
}
.ccHeader.Blue .ui-wrapper-logo {
  clear: both;
  float: right;
}
.ccHeader.Blue .ui-wrapper-logo img.ui-logo-img {
  background: url(../images/DDC_Logo.png) no-repeat !important;
  width: 97px;
  height: 60px;
  margin-top: 7px !important;
  display: block;
}
.ccHeader.Red {
  background-image: url(../images/Red/DDC_HDBG.png);
}
.ccHeader.Red .ui-header-menu {
  background: url(../images/Red/DDC_MenuBG.png) no-repeat;
  width: 990px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  z-index: 30;
}
.ccHeader.Red .ui-header-menu .ui-menu-container {
  position: relative;
  width: 395px;
  _width: 735px;
  height: 65px;
  z-index: 30;
  float: left;
}
.ccHeader.Red .ui-header-menu ul.ui-menu-link {
  margin: 0px 0px 0px 17px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  width: 620px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20;
}
.ccHeader.Red .ui-header-menu ul.ui-menu-link li {
  float: left;
  padding: 24px 4px 0px 4px;
}
.ccHeader.Red .ui-header-menu .ui-menutabs {
  width: 80px;
  color: #FF833C;
  text-decoration: none;
  position: relative;
  height: 68px;
  cursor: pointer;
  border: 0px solid red;
}
.ccHeader.Red .ui-header-menu .ui-menu-tab-content {
  color: #FCFFE1;
  position: absolute;
  width: 80px;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  left: 0px;
  color: #FCFFE1;
  font-size: 12px;
  display: block;
  bottom: 5px;
}
.ccHeader.Red .ui-header-menu .ui-spriteImg {
  background: url(../images/DDC_MenuIcons.png) no-repeat;
  height: 54px;
  width: 49px;
  margin: 0 auto;
}
.ccHeader.Red .ui-header-menu .ui-user-info {
  color: #FCBC4B;
  font-size: 13px;
}
.ccHeader.Red .ui-header-menu .ui-h-link {
  color: #E0E0E0;
  text-decoration: none;
  font-size: 13px;
}
.ccHeader.Red .ui-header-menu a.ui-h-link {
  color: #E0E0E0;
  text-decoration: none;
}
.ccHeader.Red .ui-header-menu a.ui-h-link:hover {
  text-decoration: underline;
}
.ccHeader.Red .ui-header-menu .ui-h-break {
  color: #FCBC4B;
  text-decoration: none;
  font-size: 14px;
  padding: 0 10px;
}
.ccHeader.Red .ui-header-menu .ui-settings-icon {
  background: url(../images/DDC_MenuIcons.png) no-repeat;
  height: 20px;
  width: 25px;
  margin: 0 auto;
  cursor: pointer;
  float: right;
  background-position: -350px -119px;
}
.ccHeader.Red .ui-menu-hover {
  background: url(../images/Red/DDC_IcnHi.png) no-repeat;
  height: 105px;
  width: 182px;
  position: absolute;
  left: -30px;
  top: 0px;
  z-index: 10;
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Red/DDC_IcnHi.png', sizingMethod='scale');*/
}
.ccHeader.Red .ui-wrapper-settings {
  float: right;
}
.ccHeader.Red .ui-wrapper-logo {
  clear: both;
  float: right;
}
.ccHeader.Red .ui-wrapper-logo img.ui-logo-img {
  background: url(../images/DDC_Logo.png) no-repeat !important;
  width: 97px;
  height: 60px;
  margin-top: 7px !important;
  display: block;
}
